
body { 
    font-family: 'Poppins', sans-serif;
}

.primary-link{
    background-color: rgb(102, 0, 255);
    padding: 0.5rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
    text-decoration: none;
}
ul {
    list-style-type: none;
    /* padding: 0;
    margin: 0; */
  }
  
.secondary-link{
    padding: 0.5rem 0.5rem;
    color: rgb(102, 0, 255);
    border-radius: 0.5rem;
   border-color: blueviolet;
   text-decoration: none;
   border: 1px solid;
}

h1{
    color:blueviolet;
}
nav{
    background-color: blueviolet;
    padding:0.5rem 0.5rem;
    border-bottom-left-radius: 2rem;
}
nav a{
    text-decoration: none;
    text-align:center;
color: white;
}